<div class="w-9/12 h-auto py-3 pr-2">
    <div class="w-full text-gray-600 border-b-2 pb-2 mb-2 border-gray-300">
      <p class="font-semibold mb-2">Your Pages</p>
      <li class="h-12 mb-2 flex items-center -ml-3 justify-content cursor-pointer space-x-2 p-2 rounded-md hover:bg-gray-200">
        <div>
          <img
            class="w-8 h-8 rounded-full"
            src="https://static.xx.fbcdn.net/rsrc.php/v3/yR/r/tInzwsw2pVX.png"
            alt="user"
          />
        </div>
        <div>
          <p class="text-sm font-semibold">Littlebit Programmer</p>
        </div>
      </li>
      <ul class="text-gray-500 text-sm">
        <li class="h-8 mb-2 flex items-center justify-content cursor-pointer space-x-3 p-2 rounded-md hover:bg-gray-200">
          <div>
            <i class="fas fa-bell"></i>
          </div>
          <div>
            <p class="text-xs">Notification</p>
          </div>
        </li>
        <li class="h-8 flex items-center justify-content cursor-pointer space-x-3 p-2 rounded-md hover:bg-gray-200">
          <div>
            <i class="fas fa-bullhorn"></i>
          </div>
          <div>
            <p class="text-xs">Create promotion</p>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="flex items-center justify-between text-gray-600">
        <div>
          <p class="text-sm font-semibold">Contacts</p>
        </div>
        <div class="flex items-center space-x-3 text-gray-500">
          <button class="w-8 h-8 focus:outline-none rounded-full hover:bg-gray-200">
            <i class="fab fa-youtube"></i>
          </button>
          <button class="w-8 h-8 focus:outline-none rounded-full hover:bg-gray-200">
            <i class="fas fa-search"></i>
          </button>
          <button class="w-8 h-8 focus:outline-none rounded-full hover:bg-gray-200">
            <i class="fas fa-ellipsis-h"></i>
          </button>
        </div>
      </div>
      <div class="-ml-2">
        <ul class="w-full text-gray-600">
          <li class="h-12 mb-2 flex items-center justify-content cursor-pointer space-x-2 p-2 rounded-md hover:bg-gray-200">
            <div>
              <img
                class="w-8 h-8 rounded-full"
                src="https://picsum.photos/200"
                alt="user"
              />
            </div>
            <div>
              <p class="text-sm font-semibold">Saiful Islam Shihab</p>
            </div>
          </li>
          <li class="h-12 mb-2 flex items-center justify-content cursor-pointer space-x-2 p-2 rounded-md hover:bg-gray-200">
            <div>
              <img
                class="w-8 h-8 rounded-full"
                src="https://picsum.photos/200"
                alt="user"
              />
            </div>
            <div>
              <p class="text-sm font-semibold">Travarsy Media</p>
            </div>
          </li>
          <li class="h-12 mb-2 flex items-center justify-content cursor-pointer space-x-2 p-2 rounded-md hover:bg-gray-200">
            <div>
              <img
                class="w-8 h-8 rounded-full"
                src="https://picsum.photos/200"
                alt="user"
              />
            </div>
            <div>
              <p class="text-sm font-semibold">Ben Awad</p>
            </div>
          </li>
          <li class="h-12 mb-2 flex items-center justify-content cursor-pointer space-x-2 p-2 rounded-md hover:bg-gray-200">
            <div>
              <img
                class="w-8 h-8 rounded-full"
                src="https://picsum.photos/200"
                alt="user"
              />
            </div>
            <div>
              <p class="text-sm font-semibold">Fireship io</p>
            </div>
          </li>
          <li class="h-12 mb-2 flex items-center justify-content cursor-pointer space-x-2 p-2 rounded-md hover:bg-gray-200">
            <div>
              <img
                class="w-8 h-8 rounded-full"
                src="https://picsum.photos/200"
                alt="user"
              />
            </div>
            <div>
              <p class="text-sm font-semibold">Shihab md</p>
            </div>
          </li>
          <li class="h-12 mb-2 flex items-center justify-content cursor-pointer space-x-2 p-2 rounded-md hover:bg-gray-200">
            <div>
              <img
                class="w-8 h-8 rounded-full"
                src="https://picsum.photos/200"
                alt="user"
              />
            </div>
            <div>
              <p class="text-sm font-semibold">Groups</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>