<div class='w-full shadow h-auto bg-white my-2 rounded-md'>
    <div class='flex items-center space-x-2 p-3 px-4'>
      <div class='w-10 h-10'>
        <img
          src='https://picsum.photos/200'
          class='w-full h-full rounded-full'
          alt='dp'
        />
      </div>
      <div class='flex-grow flex flex-col'>
        <div class='text-gray-500 font-semibold'>
          <p>Saiful Islam</p>
        </div>
        <span class='text-xs text-gray-300'>2d</span>
      </div>
      <div class='w-8 h-8'>
        <button class='w-full h-full hover:bg-gray-100 rounded-full text-gray-400 focus:outline-none'>
          <i class='fas fa-ellipsis-h'></i>
        </button>
      </div>
    </div>
    <div class='text-gray-500 px-3'>This is caption</div>
    <div class='w-full h-76 max-h-80'>
      <img
        src='https://picsum.photos/1080/1920'
        alt='postimage'
        class='w-full h-76 max-h-80'
      />
    </div>
    <div class='w-full flex flex-col space-y-2 p-2 px-4'>
      <div class='flex items-center justify-between px-3 pb-2 mb-2 border-b'>
        <div class='flex items-center'>
          <div class='flex items-center text-gray-400 text-sm'>
            <button class='focus:outline-none flex items-center justify-center w-4 h-4 rounded-full bg-red-500 text-white'>
              <i style=" font-size: 10px" class='fas fa-heart'></i>
            </button>
            <button class='focus:outline-none flex items-center justify-center w-4 h-4 rounded-full bg-blue-500 text-white'>
                <i style=" font-size: 10px" class='fas fa-thumbs-up'></i>
            </button>
            <button class='focus:outline-none flex items-center justify-center w-4 h-4 rounded-full bg-yellow-500 text-white'>
                <i style=" font-size: 10px" class='fas fa-surprise'></i>
            </button>
            <div class='ml-1'>
              <p>130K</p>
            </div>
          </div>
        </div>
        <div>
          <p class='text-gray-400 text-sm'>9 Shares</p>
        </div>
      </div>
      <div class='flex space-x-3 text-gray-400'>
        <button class='flex-1 flex items-center h-8 focus:outline-none focus:bg-gray-200 justify-center space-x-2 hover:bg-gray-100 rounded-md'>
          <div>
            <i class='fas fa-thumbs-up'></i>
          </div>
          <div>
            <p class='font-semibold text-sm'>Like</p>
          </div>
        </button>
        <button class='flex-1 flex items-center h-8 focus:outline-none focus:bg-gray-200 justify-center space-x-2 hover:bg-gray-100 rounded-md'>
          <div>
            <i class='fas fa-comment'></i>
          </div>
          <div>
            <p class='font-semibold text-sm'>Comment</p>
          </div>
        </button>
        <button class='flex-1 flex items-center h-8 focus:outline-none focus:bg-gray-200 justify-center space-x-2 hover:bg-gray-100 rounded-md'>
          <div>
            <i class='fas fa-share'></i>
          </div>
          <div>
            <p class='font-semibold text-sm'>Share</p>
          </div>
        </button>
      </div>
    </div>
  </div>